#mainAnchorPane
{
    -fx-background-color: #1b1b1b;
}

#titledPane
{
    -fx-background-color: #1b1b1b;
}

.button
{
    -fx-background-color: #2f2f2f;
    -fx-text-fill: #ff7518;
    -fx-font-size: 14px;
    -fx-font-family: Calibri;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.button:focused{
    -fx-background-color: #464545;
}

.button:hover{
    -fx-background-color: #464545;
}

.label
{
    -fx-font-family: Calibri;
    -fx-font-size: 14px;
    -fx-text-fill: #f54703;
}

.text-field{
    -fx-background-color: #2f2f2f;
    -fx-text-fill: #f54703;
    -fx-font-size: 12px;
    -fx-font-family: Calibri;
}

.text-field:focused{
    -fx-background-color: #464545;
}

.table-view{
    -fx-background-color: transparent;
    -fx-font-family: Calibri;
    -fx-text-background-color: #f54703;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner{
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-background-color: #1b1b1b;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell:hover {
    -fx-background-color: #2f2f2f;
    -fx-text-background-color: #ff7518;
}
.table-row-cell:odd{
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #ff7518, #f54703);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #ff7518, #f54703);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #ff7518, #f54703);
}
.table-row-cell:focused {
    -fx-background-color: #2f2f2f;
    -fx-background-radius: 15px;
    -fx-text-background-color: #ff7518;
}


.combo-box {
    -fx-background-color: #2B2C28;
    -fx-text-fill: #ff7518;
}
.combo-box:hover {
    -fx-background-color:  linear-gradient(to bottom, #ff7518, #f54703);
}

.combo-box:focused {
    -fx-background-color:  linear-gradient(to bottom, #ff7518, #f54703);
}

.combo-box .scroll-bar {
    -fx-background-color:  linear-gradient(to bottom, #ff7518, #f54703);
}

.combo-box .list-cell{
    -fx-background-color: #2B2C28;
    -fx-text-fill: #ff7518;
}

.combo-box .list-cell:hover{
    -fx-background-color: #464545;
}

.titled-pane
{
    -fx-text-fill:  #ff7518;
    -fx-background-color: #1b1b1b;
}
.titled-pane:focused
{
    -fx-text-fill: white;
    -fx-background-color: #464545;
}

.titled-pane:focused > .title
{
    -fx-color: #464545;
}

.titled-pane .content
{
    -fx-background-color: #1b1b1b;
}


#dimensionAnchor
{
    -fx-background-color: #1b1b1b;
}

#elementAnchor
{
    -fx-background-color: #1b1b1b;
}

#positionAnchor
{
    -fx-background-color: #1b1b1b;
}

#subcategoryAnchor
{
    -fx-background-color: #1b1b1b;
}

#productAnchor
{
    -fx-background-color: #1b1b1b;
}


