.label
{
    -fx-font-family: Calibri;
    -fx-text-fill: #131515;
}

#anchorPane
{
    -fx-background-color: #FFFAFB;
}

.separator *.line
{
    -fx-border-style: solid;
    -fx-border-width: 0.5px;
    -fx-border-color: #339989;
}

#detailAnchorPaneInfo
{

}

#anchorPaneDimension
{

}

#anchorPaneMagazyn
{

}

#anchorPaneGeneralInfo
{

}
