.label
{
    -fx-font-family: Calibri;
    -fx-text-fill: #131515;
}

#anchorPane
{
    -fx-background-color: #FFFAFB;
}

.separator
{
    -fx-background-color:  linear-gradient(to bottom, #339989, #7de2d1);
}

