.button{
    -fx-background-color: #2b2c28;
    -fx-font-size: 14px;
    -fx-font-family: Calibri;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-text-fill: #fffafb;
}

.button:focused{
    -fx-background-color: #339989;
}

.button:hover{
    -fx-background-color: #339989;
}

.label{
    -fx-font-family: Calibri;
    -fx-text-fill: #7de2d1;
    -fx-font-size: 13px;
}

.text-field{
    -fx-background-color: #2b2c28;
    -fx-text-fill: #fffafb;
    -fx-font-size: 12px;
    -fx-font-family: Calibri;
}

.text-field:focused{
    -fx-background-color: #339989;
}

#mainLayoutOfLoginScreen{
    -fx-background-color: #131515;
}

#adminAnchorPane{
    -fx-background-color: #131515;
}

.table-view{
    -fx-background-color: transparent;
    -fx-font-family: Calibri;
    -fx-text-background-color: #fffafb;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner{
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-background-color: #2B2C28;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: #7DE2D1;
}
.table-row-cell:odd{
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #339989, #7de2d1);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #339989, #7de2d1);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #339989, #7de2d1);
}
.table-row-cell:focused {
    -fx-background-color: #2B2C28;
    -fx-background-radius: 15px;
    -fx-text-background-color: #7DE2D1;
}