.label
{
    -fx-font-family: Calibri;
    -fx-text-fill: #131515;
    -fx-font-size: 12px;
}

.label:hover
{
    -fx-text-fill: #2B2C28;
    -fx-highlight-text-fill: #131515;
    -fx-underline: true;
}

.button{
    -fx-background-color: #FFFAFB;
    -fx-font-size: 14px;
    -fx-font-family: Calibri;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-text-fill: #131515;
}

.button:hover{
    -fx-text-fill: #339989;
}

#roomLabel
{
    -fx-font-size: 15px;
}

.jfx-list-cell-container {
    -fx-alignment: center-left;
}

.jfx-list-cell-container > .label {
    -fx-text-fill: BLACK;
}

.jfx-list-cell:odd:selected > .jfx-rippler > StackPane, .jfx-list-cell:even:selected > .jfx-rippler > StackPane {
    -fx-background-color: #7de2d1;
}

.jfx-list-cell {
    -fx-background-insets: 0.0;
    -fx-text-fill: #2b2c28;
}

.jfx-list-cell:odd, .jfx-list-cell:even {
    -fx-background-color: #fffafb;
}

.jfx-list-cell:filled:hover {
    -fx-text-fill: #131515;
}

.jfx-list-cell .jfx-rippler {
    -jfx-rippler-fill: #339989;
}

.jfx-list-view {
    -fx-background-insets: 0;
    -jfx-cell-horizontal-margin: 0.0;
    -jfx-cell-vertical-margin: 5.0;
    -jfx-vertical-gap: 10;
    -jfx-expanded: false;
}

.jfx-list-view .virtual-flow  .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #339989, #7de2d1);
}

.jfx-list-view .virtual-flow .scroll-bar:vertical,
.jfx-list-view .virtual-flow .scroll-bar:vertical .track,
.jfx-list-view .virtual-flow .scroll-bar:vertical .track-background{
    -fx-background-color: transparent;
}

.combo-box {
    -fx-background-color: #FFFAFB;
    -fx-text-fill: #2B2C28;
}
.combo-box:hover {
    -fx-background-color:  linear-gradient(to bottom, #339989, #7de2d1);
}

.combo-box:focused {
    -fx-background-color:  linear-gradient(to bottom, #339989, #7de2d1);
}

.combo-box .scroll-bar {
    -fx-background-color:  linear-gradient(to bottom, #339989, #7de2d1);
}

.combo-box .list-cell{
    -fx-background-color: #FFFAFB;
    -fx-text-fill: #2B2C28;
}

.combo-box .list-cell:hover{
    -fx-background-color: #7de2d1;
}


